/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
    .container__decor {
        display: none;
    }
}

:root.theme-auto {
    @media (prefers-color-scheme: light) {
        .container__decor {
            display: none;
        }
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --title-color: #FFC2E6;
        --main-color: #353430;
        --bg-color-block: #FF8DCB;
        --bg-image: url("../images/cover-image-light.png");
        --bg-color: #fff1f7;
        --hover-color:rgba(50, 49, 45, 0.4);
    }
}
