:root.theme-light {
    .header_theme-REC-text {
        display: none;
    }
    .circle {
        display: none;
    }
}

:root.theme-auto {
    @media (prefers-color-scheme: light) {
        .header_theme-REC-text {
            display: none;
        }
        .circle {
            display: none;
        }
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --title-color: #FFC2E6;
        --text-color: #353430;
        --accent-color: #FF8DCB;
        --h2-color: var(--text-color);
        --h3-color: #353430;
        --bg-image: url("../images/cover-image-light.png");
        --bg-color: #fff1f7;
        --rect-color: #353430;
        --focus-color:var(--text-color);
        --hover-color:rgba(50, 49, 45, 0.4);
    }
}