.page {
    max-inline-size: 1024px;
    background-color: var(--bg-color);
    font-family: "IBM Plex mono", sans-serif;
    font-size: 18px;
    margin: 0 auto;
    background-image: var(--bg-image);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    padding: 10px;
    block-size: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:  0 0 auto;
}

.decorated-zone::before {
    content: "";
    align-self: flex-end;
    inline-size: 22px;
    block-size: 22px;
    border-block-start: 1px solid var(--rect-color);
    border-inline-end: 1px solid var(--rect-color);
}

.decorated-zone::after {
    content: "";
    align-self: start;
    justify-self: end;
    inline-size: 22px;
    block-size: 22px;
    border-block-end: 1px solid var(--rect-color);
    border-inline-start: 1px solid var(--rect-color);
}

.header-top-container {
    margin-block-start: -21px;
}

.header_theme-rec-text {
    color: var(--accent-color);
    display: flex;
    justify-content: end;
    padding-inline: 3px;
}

.header_theme-rec-text::after {
    content: "";
    display: block;
    align-items: end;
    inline-size: 9px;
    block-size: 9px;
    border-radius: 50%;
    box-shadow: 0 0 4px var(--accent-color);
    background: var(--accent-color);
    margin-top: 6px;
    margin-left: 13px;
    margin-inline-end: 4px;
}

.header__theme-menu-button:focus-visible {
    outline-style: none;
    border-block-end: 1px solid var(--focus-color);
}

.header__theme-menu-button:hover {
    outline: 1px solid var(--hover-color);
}

.header__theme-menu {
    padding-block-start: 39px;
    justify-self: end;
    display: flex;
    margin-block-end: 67px;
}

.header__theme-menu-list {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    margin: 0;
}

.header__theme-menu-item {
    list-style: none;
}

.header__theme-menu-button {
    border-style: none;
    inline-size: 70px;
    block-size: 26px;
    background-color: transparent;
    color: var(--text-color);
    font-size: inherit;
    line-height: 18px;
    font-weight: 400;
    font-family: "IBM Plex mono", sans-serif;
}

.header__theme-menu-button_active {
    outline: 1px solid var(--focus-color);
    pointer-events: none;
}

.header__theme-title {
    margin-block-end: 55px;
}

.title__text {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    color: var(--title-color);
    text-shadow: 4px 4px var(--accent-color);
    line-height: 96px;
}

.header_theme-bottom-container {
    margin-block-end: 35px;
}

.title-decor {
    color: var(--h3-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 18px;
}

.main__section-container h3 {
    margin-block-end: 20px;
}

.header_theme-text {
    align-self: center;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 30px;
    padding: 40px 10px;
}

.main-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

.main-h2 {
    margin-block-start: 0;
    margin-block-end: 21px;
    color: var(--h2-color);
    font-size: 18px;
    font-weight: 700;
}

.main-text {
    color: var(--text-color);
    margin-block-start: 10.5px;
    line-height: 23.4px;
    margin-block-end: 20px;
}

.main-text-link {
    text-decoration: none;
    text-shadow: 2px 2px var(--accent-color);
}

.main-text-link:hover {
    border-bottom: 1px solid var(--text-color);
}

.main-text-link:focus-visible {
    outline: 1px solid var(--text-color);
}

.main-gallery {
    display: grid;
    gap: 10px;
    margin-block-start: -2px;
}

.main-image {
    object-fit: cover;
    width: 100%;
}

.footer {
    padding: 10px;
    block-size: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__theme-title {
    place-self: center;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 95.7px;
    color: var(--title-color);
    text-shadow: 2px 2px var(--accent-color);
}

@media (width >= 768px) {
    .header {
        display: flex;
        flex-direction: column;
        padding: 20px;
        height: 100vh;
    }

    .header__theme-menu-list {
        padding-block-start: 25px;
        padding-block-end: 0;
        margin: 0;
    }

    .header__theme-menu {
        padding-block-start: 121.5px;
        margin-block-end: 55px;
    }

    .header__theme-title {
        margin-inline-start: -20px;
        margin-block-start: 30px;
    }

    .header_theme-bottom-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .header_theme-text {
        grid-column-start: 2;
    }

    .header_theme-rec-text {
        margin-block-start: -110px;
    }

    .title__text {
        margin-block-start: -18px;
    }

    .main {
        padding-inline: 20px;
    }

    .main-section:not(:nth-child(2)) {
        padding-block-start: 20px;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        column-gap: 20px;
    }

    .main-section:nth-child(2) {
        padding-block-start: 30px;
    }

    .main-section:nth-child(3) {
        padding-block-start: 31px;
    }

    .main-section:nth-child(2) .main-h2 {
        inline-size: 236px;
    }

    .main-gallery {
        padding-block-start: 30px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 23px 1fr 1fr 1fr;
        gap: 20px;
        max-height: calc(100dvw * 1.071614583);
        margin-block-end: 20px;
    }

    .main-gallery-title {
        grid-column: span 3;
    }

    .main-image {
        object-fit: cover;
        height: 100%;
    }

    .main-gallery-1 {
        grid-row: 2;
        grid-column: span 2;
    }

    .main-gallery-2 {
        grid-column: 3;
        grid-row: 2 / span 2;
    }

    .main-gallery-3 {
        grid-column: 1;
        grid-row: 3 / span 2;
    }

    .main-gallery-4 {
        grid-column: 2;
        grid-row: 3;
    }

    .main-gallery-5 {
        grid-column: 2 / span 2;
        grid-row: 4;
    }

    .footer {
        padding: 20px;
        margin-block-start: 30px;
    }
}

@media (width >= 1024px) {
    .header-top-container {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 66px;
    }

    .header__theme-menu {
        align-self: start;
        justify-self: center;
        padding-block-start: 0;
        grid-column: 1;
        grid-row: 1;
        display: flex;
        margin-block-start: -3px;
    }

    .header__theme-menu-list {
        display: flex;
        flex-direction: row;
        padding-block: 0;
        margin: 0;
    }

    .header__theme-title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .main-section:not(:nth-child(2)) {
        column-gap: 10px;
    }

    .main-section:nth-child(2) .main-h2 {
        inline-size: 324px;
    }

    .main-section-second-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
    }

    .main-gallery {
        max-height: calc(100dvw * 1.065429688);
    }

    .footer__theme-title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
        padding-inline-start: 21px;
    }
}