:root {
    --main-title-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --main-title-laptop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --main-title-shadow: 4px 4px 0 var(--accent-color);
    --main-font-size: 18px;
}